{% extends 'base.html' %}

{% load static %}
{% block title %}
Contact - My Portfolio
{% endblock %}
{% block body_class %}page-contact{% endblock %}


{% block content %}

<section class="page-section">

    <h1>Contact Me</h1>

    <p>
        Email:
        your-email@example.com
    </p>

    <p>
        GitHub:
        <a class="github-button"
           href="https://github.com/"
           target="_blank"
           rel="noopener noreferrer">
            Visit My GitHub
        </a>
    </p>

</section>

{% endblock %}