{% extends 'base.html' %}
{% block title %}{{ project.title }} - My Portfolio{% endblock %}
{% block body_class %}page-detail{% endblock %}
{% block content %}

<section class="detail-section">

    <h1>
        {{ project.title }}
    </h1>

    <p>
        {{ project.description }}
    </p>

    <h3>
        Technology Used
    </h3>

    <p>{{ project.technology|default:'Not specified' }}</p>

    {% if project.link %}
    <a href="{{ project.link }}"
       target="_blank"
       class="btn">
        View on GitHub
    </a>
    {% endif %}

    <br><br>

    <a href="{% url 'projects' %}">
        ← Back to Projects
    </a>

</section>

{% endblock %}